.ui.borderless.topmenu.container.menu {
  border: none;
  box-shadow: none;
}
.background {
  background-image: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg");
  background-size: cover;
  height: 500px;
  padding: 175px;
}
.picturetext {
  color: white;
}

.footer-background {
  background-color: #004030;
  color: white;
  padding: 30px;
}

